.noscroll{
  overflow: hidden;
}

@font-face {
  font-family: Candy;
  /* Гарнитура шрифта */
  src: url(../fonts/Candy.ttf);
  /* Путь к файлу со шрифтом */ }
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto; }

a {
  color: inherit;
  text-decoration: none; }

.main_part {
  height: 700px; }

.parallax-window {
  min-height: 700px;
  background: transparent; }

.menu {
  margin-top: -16px;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 70px; }

.menu ul {
  padding: 0;
  text-align: center; }

.item {
  font-family: Candy;
  margin-right: 10%;
  margin-top: 10px;
  display: inline-block;
  color: white;
  font-size: 35px;
  transition: all .3s ease-in-out; }

.item:hover {
  text-shadow: 0 0 40px #F2BE63;
  transition: all .1s ease-in-out; }

.item:last-child {
  margin-right: 0; }

.textlogo {
  display: inline-block;
  font-size: 360px;
  font-family: Candy; }

.textlogo:hover {
  cursor: pointer; }

.logo {
  text-align: center;
  color: white;
  font-family: Candy; }

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    text-shadow: 0 0 40px #F2BE63; }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    text-shadow: 0 0 40px #F2BE63; }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    text-shadow: 0 0 40px #F2BE63; }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
    text-shadow: 0 0 40px #F2BE63; }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    text-shadow: 0 0 40px #F29563; }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    text-shadow: 0 0 40px #FA7548; }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    text-shadow: 0 0 40px #FA7548; }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
    text-shadow: 0 0 40px #F2BE63; }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    text-shadow: 0 0 40px #F2BE63; } }
.shake:hover,
.shake:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.1s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

.desc {
  font-size: 30px; }

.slogan {
  display: inline-block; }

.slogan:nth-child(odd) {
  min-width: 160px;
  text-align: left; }

.tech {
  min-height: 700px;
  text-align: center; }

.tech h2 {
  font-size: 60px; }

.tech-pic {
  margin: 0px 5% 0px 5%;
  margin-bottom: 20px;
  display: inline-block; }

.tech-pic img {
  height: 150px; }

.tech-pic:nth-child(7) img {
  width: 300px;
  height: auto; }

.tech-pic:nth-child(4) img {
  width: 150px;
  height: auto; }

.portfolio {
  text-align: center; }

.portfolio h2 {
  font-size: 60px; }

.slides {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  overflow: hidden; }

.control {
  text-align: left;
  font-size: 90px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
  transition: all .2s ease-in-out; }

.control:hover {
  cursor: pointer;
  transition: all .4s ease-in-out; }

.control:hover #arrow-left {
  position: relative;
  margin-left: -10px;
  transition: all .2s ease-in-out;
  color: white;
  text-shadow: 20px 6px 10px black; }

.control:hover #arrow-right {
  position: relative;
  margin-right: 15px;
  transition: all .2s ease-in-out;
  color: white;
  text-shadow: -20px 6px 10px black; }

.control:nth-child(2) {
  right: 0;
  text-align: right; }

div.endofpics:hover #arrow-left {
  color: transparent !important; }

#arrow-left {
  position: relative;
  color: transparent;
  display: inline-block;
  transition: all .2s ease-in-out; }

#arrow-right {
  margin-right: 25px;
  position: relative;
  color: transparent;
  display: inline-block;
  transition: all .2s ease-in-out; }

.blinker {
  background-color: rgba(255, 255, 255, 0.9) !important;
  transition: all .2s ease-in-out; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fixer2 {
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.click_preventer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0; 
}

.portfolio-container {
  height: 100%;
  width: 100%;
  display: inline-block; }

#portfolio-pic img {
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  display: none;
  transition: all .7s ease-in-out; }

#portfolio-pic {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.visible {
  display: inline-block !important;
  left: 0% !important; }

.toleft {
  left: -280% !important; }

.fromright {
  left: 280% !important; }

.toright {
  left: 280% !important; }

.fromleft {
  left: -280% !important; }


.next{
  display: inline-block;
    margin: auto;
    outline: none;
    height: 59px;
    border: 1px solid #56c7ff;
    color: white;
    border-radius: 4px;
    background: #56c7ff;
    font-size: 15px;
}
.next:active{
  box-shadow: inset 0px 0px 8px black;
  outline: none;
  border: none; 
}
.scheme {
  text-align: center;
  min-height: 700px; }

.scheme h2 {
  font-size: 60px; }

.diagram{
}
.piece_container{
  position: relative;
   /*-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(RGBA(0, 0, 0, 0.1)));*/
  margin-right: 4%;
  width: 25%;
}
.piece_container h3{
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
  font-family: Candy;
}
.piece_container h4{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}
.scheme_piece{
  position: relative;
  display: inline-block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: red;
}
.client{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 250px;
  margin: auto;
  margin-right: 120px;
}
.call{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 250px;
  margin: auto;
}

.call .scheme_piece{

  position: relative;
  transition: all .6s ease-in-out;
}
.call .piece_description{
  display: inline-block;
  z-index: 100;
}
.zadanie{
  position: relative;
  display: inline-block;
  text-align: center;
  margin: auto;
  margin-right: 20px;
}
.zadanie_desc{
  font-size: 25px;
  right:110%;
  z-index: -1;
}
.zadanie .scheme_piece{
  position: relative;
}

.desc1{
  position: absolute;
  top:25%;
}
.desc2{
  position: absolute;
  top:40%;
}
.desc3{
  position: absolute;
  top:55%;
}
.offer_desc{
  font-size: 25px;
  left: unset;
  left:110%;
  z-index: -1;
}
.zadanie p{
  position: absolute;
}
.offer{
  position: relative;
  display: inline-block;
  text-align: center;
  margin: auto;
}
.offer .scheme_piece{
  position: relative;
}
.design{
  display: inline-block;
}
.backend{
  display: inline-block;
}
.frontend{
  display: inline-block;
  margin-right: 0;
}
.contact {
  height: 700px; 
}








/*DESIGNER*/
.designer_wrapper .scroller{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: scroll;
  width: 100%;
  background-color: red;
}
.designer_wrapper .scroller .scroll_element{
  width: 100%;
  height: 500%;
  background-color: blue;
}
.designer_wrapper{
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
  position: relative;
  margin-top: 200px;
}
.designer{
  margin-top: 80px;
  margin-bottom: 5%;
  display: inline-block;

}
.designer .scheme_piece{

  background:url('../img/icons/skull.png') 50% no-repeat;
  background-size: 100%;
}
.designer_job{  
  margin-top: 80px;
  margin-bottom: 5%;
  display: inline-block;
}
.designer_job .scheme_piece{
  background-color: transparent;
  display: inline-block;
  transform:rotate(0deg);
  background: url('../img/designer-logo.png') no-repeat;
  background-size: contain;
}

.look{
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 5%;
  margin-right: 0;

}
.look .scheme_piece{
  background:url('../img/icons/paper.png') 50% no-repeat;
  background-size: contain;
  border-radius:unset;
}
.designer_head_logo{
  position: absolute;
  width: 100%;
  height: 40%;
  top:-30%; 
  background: url('../img/icons/brush.png') 50% 10% no-repeat;
  background-size: contain;
}

.top_logo_left_line{
  left: 10%;
  width: 30%;
  height: 0;
  position: absolute;
  border-top:8px dotted darkred;
}
.top_logo_right_line{
  right: 10%;
  width: 30%;
  height: 0;
  position: absolute;
  border-top:8px dotted darkred;
}
.designer_wrapper .vertical_l{
  left: 5%;
  border:2px solid black;
}
.designer_wrapper .vertical_r{
  right: 5%;
  border:2px solid black;
}
.designer_wrapper .bottom_logo_left_line{
  left: 10%;
  width: 30%;
  height: 0;
  bottom: 0;
  position: absolute;
  border-top:8px dotted darkred;
}
.designer_wrapper .bottom_logo_right_line{
  right: 10%;
  width: 30%;
  height: 0;
  bottom: 0;
  position: absolute;
  border-top:8px dotted darkred;
}





.vertical{
  position: absolute;
  height: 140%;
  margin:auto;
  top: 0;bottom: 0;

}













  /*BACKENDER*/

.backender_wrapper{
  position: relative;
  margin-top: 25%;
}

.backender{
  margin-top: 80px;
  display: inline-block;
  margin-bottom: 5%;
}
.backender .scheme_piece{
  display: inline-block;
  background: url('../img/icons/olmeca.png') 50% 10% no-repeat;
  background-size: contain;
}
.backender_job{
  margin-top: 80px;
  margin-bottom: 5%;
  display: inline-block;
}
.backender_job .scheme_piece{
  border-radius: unset;
  display: inline-block;
  background: url('../img/icons/keyboard.png') 50% 10% no-repeat;
  background-size: contain;

}
.backender_head_logo{
  position: absolute;
  width: 100%;
  height: 40%;
  top:-30%; 
/*  background: url('../img/icons/cogwheels.png') 50% 10% no-repeat;
  background-size: contain;*/
}
@-webkit-keyframes rolling_wheel1{
  0%{
    transform:rotate(0deg);
  }
  100%{
   transform:rotate(360deg);
  }
}


@-webkit-keyframes rolling_wheel2{
  0%{
    transform:rotate(0deg);
  }
  100%{
   transform:rotate(-360deg);
  }
}


.parts {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100%;
}
.rotateleft{
  -webkit-animation-name: rolling_wheel1;
  -webkit-animation-duration: 2.5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.rotateright{
  -webkit-animation-name: rolling_wheel2;
  -webkit-animation-duration: 2.5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;  
}
.parts .part1{
  position: absolute;
  display: inline-block;
  background: url('../img/icons/cogwheels1.png') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 90%;height: 90%;
  top:75px;
  right: 40%;
}

.parts .part2{
  position: absolute;
  transform:rotate(40deg);
  display: inline-block;
  background: url('../img/icons/cogwheels2.png') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 90%;height: 90%;
  top:50px;
  left: 45%;
}

.arch{
  margin-top: 80px;
  margin-bottom: 5%;
  display: inline-block;
  margin-right: 0;
}
.arch .scheme_piece{
  border-radius: unset;
  background: url('../img/icons/pyramid.png') 50% 10% no-repeat;
  background-size: contain;
  display: inline-block;
}
.backender_wrapper .vertical_l{
  left: 5%;
  border:2px solid red;
}
.backender_wrapper .vertical_r{
  right: 5%;
  border:2px solid red;  
}
.backender_wrapper .bottom_logo_left_line{
  left: 10%;
  width: 30%;
  height: 0;
  bottom: 0;
  position: absolute;
  border-top:8px dotted darkred;
}
.backender_wrapper .bottom_logo_right_line{
  right: 10%;
  width: 30%;
  height: 0;
  bottom: 0;
  position: absolute;
  border-top:8px dotted darkred;
}









.frontender_wrapper{
  position: relative;
  margin-top: 25%;

}
.frontender_head_logo{
  position: absolute;
  width: 100%;
  height: 40%;
  top:-30%; 
  background: url('../img/icons/settings2.png') 50% 10% no-repeat;
  background-size: contain;
}

.frontender{
  margin-top: 80px;
  display: inline-block;
  margin-bottom: 5%;
}
.frontender .scheme_piece{
  display: inline-block;
  background: url('../img/icons/olmeca.png') 50% 10% no-repeat;
  background-size: contain;
}
.frontender_job{
  margin-top: 80px;
  margin-bottom: 5%;
  display: inline-block;
}
.frontender_job .scheme_piece{
  border-radius:unset;
  display: inline-block;
  background: url('../img/icons/flash.png') 50% 10% no-repeat;
  background-size: contain;
  transform:rotate(45deg);

}

.markup{
  margin-top: 80px;
  margin-bottom: 5%;
  display: inline-block;
  margin-right: 0;
}
.markup .scheme_piece{
  border-radius:unset;
  display: inline-block;
  background: url('../img/icons/horse.png') 50% 10% no-repeat;
  background-size: contain;
}
.frontender_wrapper .vertical_l{
  left: 5%;
  border:2px solid red;
}
.frontender_wrapper .vertical_r{
  right: 5%;
  border:2px solid red;  
}
.frontender_wrapper .bottom_logo_left_line{
  left: 10%;
  width: 30%;
  height: 0;
  bottom: 0;
  position: absolute;
  border-top:8px dotted darkred;
}
.frontender_wrapper .bottom_logo_right_line{
  right: 10%;
  width: 30%;
  height: 0;
  bottom: 0;
  position: absolute;
  border-top:8px dotted darkred;
}











.reveal{
  margin-top: 70px;
  display: inline-block;
}

/*.product_snapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top:-10%;
}*/
.your_product{
  position: relative;
  margin-top: 200px;
  display: inline-block;
  width: 65%;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.product_header{
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color:white;
  font-family: Candy;
  font-size: 50px;
  width: 100%;
  height: 20%;
  background-color: black;
}
.product_menu{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding:0;
}
.product_menu>li:first-child{
  margin-left: 170px;
}
.falling_window{
  margin:auto;
  position: absolute;
  left: 0;right: 0;
  top:140%;
  height: 300%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}
.window_items{
  text-align: left;
  margin-left: 20px;
  padding: 0;
}
.window_items li{
  list-style:none;
  font-family: calibri;
  font-size: 20px;
  margin-bottom: 16px;
  padding: 0;
}
.product_menu>li{
  position: relative;
/*  margin-right: 4%;*/
  display: inline-block;
  width: 17%;
  vertical-align: middle;
}
.product_menu>li>p{
  margin: 0;
  display: inline-block;
  position: relative;
  border: 1px solid white;
  border-radius: 5px;
  width: 60%;
  vertical-align: middle;
  font-size: 40px;
}
.product_header .logo{
  display: inline-block;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 30px;
  vertical-align: middle;
  z-index: 2;
}
.product_main{
  position: absolute;
  left: 0;
  z-index: -100;
  display: inline-block;
  width: 100%;
  height: 80%;
  background-color: green;
  background: url("../img/monitor.png") 50% 50%  no-repeat
  #17E8C2;
  background-size: 30%;

}
.mobile_wrapper{
  position: relative;

}
.mobile_snapper{
  position: absolute;
  width: 100%;
  height: 60%;
  top:30%;
}
.dev_nav{
  position: fixed;
  top: 50%;
  right: 10px;
  color:lightgreen;
  font-family: Candy;
  font-size: 90px;
}
.dev_nav a {
  display: block;
}
.mobile_product_unfolded, .mobile_product{
  overflow: hidden;
  margin-top: 50px;
  display: inline-block;
  width: 24%;
  height: 500px;
  border-radius: 5px;
}
.mobile_product_unfolded .mobile_main{
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; 
}
.mobile_header{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color:white;
  font-family: Candy;
  font-size: 50px;
  width: 100%;
  height: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: black;
  z-index: 2;
}
.menu_button{
  left: 10px;
  top: 15%;
  display: inline-block;
  position: absolute;
  background: url('../img/menu.png') 50% 50% no-repeat;
  background-size:100%;
  width: 40px;
  height: 40px;
}
.mobile_product_unfolded>.mobile_nav{
  float: left;
  width: 80%;
  height: 90%;
  background-color: rgba(10,102,85,0.9);
}

.mobile_product_unfolded>.mobile_main{
  background: url('../img/mobile4.png') 50% 50% no-repeat
  #17E8C2;
  position: absolute;
  background-size: 100% ;
  float: right;
  color:red;
  z-index: -1;
  width: 100%;
  height: 90%;
  opacity:1;
  transition: all .4s ease-in-out;
}
.mobile_nav ul{
  text-align: left;
  font-size: 39px;
  font-family: calibri;
  color:white;
}
.mobile_nav ul li{
  list-style-type: none;
  margin-bottom: 36px;
}
#search{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 100px;
}
.search_button{
  z-index: 2;
  position: absolute;
  top: 7px;
  right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  background: url('../img/search.png') 50% 50% no-repeat;
  background-size: 100%;
}
.search_field input{
  z-index: -1;
  color:white;
  padding-left: 20px;
  font-size: 30px;
  position: absolute;
  top: 100%;
  left: 0;
  border:none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
.search_field input:focus{
  outline: none;
}
.mobile_main{
  transition: all .4s ease-in-out;
  background: url('../img/mobile4.png') 50% 50% no-repeat
  #17E8C2;
  background-size: 100% ;
  float: right;
  color:red;
  width: 100%;
  height: 90%;
}
.content{
  text-align: left;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}
.content .fixer{
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.content p{
  margin: 0;
  padding: 0;
  color:white;
  font-family: calibri;
  font-size: 18px;
  display: inline-block;
  margin-left:45%;
  margin-right: 10px;
  vertical-align: middle;
}
#content1{
  margin-top: 30px;
  background: url('../img/project.png') 10% 50% no-repeat;
  background-size:contain ;
}
#content2{
  background: url('../img/internet.png') 10% 50% no-repeat;
  background-size:contain ;
}
#content3{
  background: url('../img/target.svg') 10% 50% no-repeat;
  background-size:contain ;
}
.contact{
}

/*# sourceMappingURL=style.css.map */
